html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;word-wrap:break-word}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],/* 1 */
body{font-size:17px;background-color:#F4F4F4;user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-drag:none;-khtml-user-drag:none}@media screen and (min-width: 920px){body{width:620px;margin:0 auto}}body .article-header-wrapper img{max-width:100%}body .article-body{position:relative;font-size:17px;line-height:1.8;padding:15px 20px;background-color:#ffffff}body .article-body span,body .article-body p,body .article-body div,body .article-body h1,body .article-body h2,body .article-body h3,body .article-body h4,body .article-body h5,body .article-body h6{max-width:100%}body .article-body .sb-font-bold{font-weight:bold}body .article-body .sb-color-black{color:#000}body .article-body .sb-color-red{color:#ff0000}body .article-body .sb-color-blue{color:#0000ff}body .article-body .sb-align-left{display:block;text-align:left}body .article-body .sb-align-center{display:block;text-align:center}body .article-body .sb-align-right{display:block;text-align:right}body .article-body .sb-bg-gray{background:linear-gradient(to right, #eee 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #eee 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out;background-position:bottom 0 right 100%}body .article-body .sb-bg-white{background:linear-gradient(to right, #fff 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #fff 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out;background-position:bottom 0 right 100%}body .article-body .sb-bg-black{background:linear-gradient(to right, #000 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #000 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out;background-position:bottom 0 right 100%}body .article-body .sb-bg-red{background:linear-gradient(to right, red 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, red 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out;background-position:bottom 0 right 100%}body .article-body .sb-bg-green{background:linear-gradient(to right, lime 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, lime 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out;background-position:bottom 0 right 100%}body .article-body .sb-bg-yellow{background:linear-gradient(to right, #ffee57 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #ffee57 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out;background-position:bottom 0 right 100%}body .article-body .sb-bg-blue{background:linear-gradient(to right, blue 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, blue 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out;background-position:bottom 0 right 100%}body .article-body .sb-fs-10{font-size:10px}body .article-body .sb-fs-13{font-size:13px}body .article-body .sb-fs-15{font-size:15px}body .article-body .sb-fs-17{font-size:17px}body .article-body .sb-fs-19{font-size:19px}body .article-body .sb-fs-21{font-size:21px}body .article-body .sb-fs-23{font-size:23px}body .article-body .sb-fs-25{font-size:25px}body .article-body .sb-fs-27{font-size:27px}body .article-body .sb-fs-29{font-size:29px}body .article-body h2{font-size:27px;margin:0}body .article-body p{margin:0}body .article-body a{text-decoration:underline;color:#4682b4}body .article-body iframe{display:block;max-width:100%;margin-top:20px !important;margin-bottom:20px !important}body .article-body video{display:block;max-width:100%;margin-top:20px !important;margin-bottom:20px !important}body .article-body video:not(.lazyload){height:auto !important}body .article-body img:not(.lazyload){height:auto !important}body .article-body img{display:block;max-width:100%;margin-top:20px !important;margin-bottom:20px !important}body .article-body img.sb-fl{float:left;margin-right:10px}body .article-body img.sb-fc{display:block;float:none;margin:0 auto}body .article-body img.sb-fr{float:right;margin-left:10px}body .article-body img.sb-img-move-side{animation:sb_img_move_side 1s ease-in-out infinite alternate !important}@keyframes sb_img_move_side{0%{transform:translateX(-5px)}100%{transform:translateX(5px)}}body .article-body .sb-bg-gum-marker,body .article-body .sb-bg-gum-marker-animated{background:linear-gradient(to right, #ffee57 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #ffee57 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.animated,body .article-body .sb-bg-gum-marker-animated.animated{background-position:bottom 0 right 100% !important}body .article-body .sb-bg-gum-marker.sb-bg-gray,body .article-body .sb-bg-gum-marker-animated.sb-bg-gray{background:linear-gradient(to right, #eee 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #eee 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.sb-bg-gray.animated,body .article-body .sb-bg-gum-marker-animated.sb-bg-gray.animated{background-position:bottom 0 right 100%}body .article-body .sb-bg-gum-marker.sb-bg-white,body .article-body .sb-bg-gum-marker-animated.sb-bg-white{background:linear-gradient(to right, #fff 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #fff 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.sb-bg-white.animated,body .article-body .sb-bg-gum-marker-animated.sb-bg-white.animated{background-position:bottom 0 right 100%}body .article-body .sb-bg-gum-marker.sb-bg-black,body .article-body .sb-bg-gum-marker-animated.sb-bg-black{background:linear-gradient(to right, #000 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #000 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.sb-bg-black.animated,body .article-body .sb-bg-gum-marker-animated.sb-bg-black.animated{background-position:bottom 0 right 100%}body .article-body .sb-bg-gum-marker.sb-bg-red,body .article-body .sb-bg-gum-marker-animated.sb-bg-red{background:linear-gradient(to right, red 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, red 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.sb-bg-red.animated,body .article-body .sb-bg-gum-marker-animated.sb-bg-red.animated{background-position:bottom 0 right 100%}body .article-body .sb-bg-gum-marker.sb-bg-green,body .article-body .sb-bg-gum-marker-animated.sb-bg-green{background:linear-gradient(to right, lime 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, lime 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.sb-bg-green.animated,body .article-body .sb-bg-gum-marker-animated.sb-bg-green.animated{background-position:bottom 0 right 100%}body .article-body .sb-bg-gum-marker.sb-bg-yellow,body .article-body .sb-bg-gum-marker-animated.sb-bg-yellow{background:linear-gradient(to right, #ffee57 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, #ffee57 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.sb-bg-yellow.animated,body .article-body .sb-bg-gum-marker-animated.sb-bg-yellow.animated{background-position:bottom 0 right 100%}body .article-body .sb-bg-gum-marker.sb-bg-blue,body .article-body .sb-bg-gum-marker-animated.sb-bg-blue{background:linear-gradient(to right, blue 50%, transparent 50%) 100% 0%/200% 70% no-repeat;background:-webkit-linear-gradient(left, blue 50%, transparent 50%) 100% 0%/200% 70% no-repeat;transition:background-position 1s ease-out;-webkit-transition:background-position 1s ease-out}body .article-body .sb-bg-gum-marker.sb-bg-blue.animated,body .article-body .sb-bg-gum-marker-animated.sb-bg-blue.animated{background-position:bottom 0 right 100%}body .article-body .article-body-comment{display:table;margin-bottom:1.5em;padding-bottom:1em;width:100% !important;max-width:100% !important}body .article-body .article-body-comment .comment-image,body .article-body .article-body-comment .comment-content{display:table-cell;vertical-align:top}body .article-body .article-body-comment .comment-image{padding-right:1em}body .article-body .article-body-comment .comment-image>img{display:block;height:auto;max-width:none;margin-top:0 !important;margin-bottom:0 !important}body .article-body .article-body-comment .comment-content{width:100%}body .article-body .article-body-comment .comment-content .comment-title{font-size:1em;margin:0 0 0.5em 0;font-weight:bold}body .article-body .article-body-comment .comment-content p{line-height:1.5em;margin-bottom:0.5em}body .article-body .article-body-comment .comment-content p.comment-detail{color:rgba(51,51,51,0.5);font-size:0.9em;font-style:italic}body .article-body .sb-custom img{display:block !important}body .article-body .sb-form iframe{height:0;margin:0 auto !important}
body{user-select:inherit !important}

  body {
  
  
}




  .article-body {
  
    font-size: 17px !important;
  
  
    font-family: Hiragino Sans, Arial, sans-serif !important;
  
  
    color: #000000 !important;
  
  
    line-height: 1.8 !important;
  
  
  
    padding-top: 15px !important;
  
  
    padding-bottom: 15px !important;
  
  
    padding-left: 20px !important;
  
  
    padding-right: 20px !important;
  
  
  
    background-image: url('../images/382a8a6d-ad97-41c3-ab5a-16f575c30ae7.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
  
  
}

  body .article-body iframe {
  
}

        body .article-body img {
        display: unset !important;
        
          margin-top: 0px !important;
        
        
          margin-bottom: 0px !important;
        
      }

        body .article-body video {
        display: unset !important;
      }

        body .article-body .sb-custom  {
        
          font-size: 17px !important;
        
        
          font-family: Hiragino Sans, Arial, sans-serif !important;
        
        
          color: #000000 !important;
        
        
          line-height: 1.8 !important;
        
      }

        body .article-body .sb-custom img {
        
          margin-top: 0px !important;
        
        
          margin-bottom: 0px !important;
        
      }


#sb-part-2239.sb-custom-part-m5masjqrts3za0dh4yg .main {
  margin: 0 -20px !important;
  /*-20pxはversion設定の左右余白を変更していない場合のみです、左右余白と同じサイズを-(マイナス)で打ち消してください*/
  max-width: unset;
}

#sb-part-2239.sb-custom-part-m5masjqrts3za0dh4yg img,
#sb-part-2239.sb-custom-part-m5masjqrts3za0dh4yg video {
  width: 100%;
}
#sb-part-2239.sb-custom-part-m2e3jsubl2yi0yq8lyo .main {
  margin: 0 -20px !important;
  /*-20pxはversion設定の左右余白を変更していない場合のみです、左右余白と同じサイズを-(マイナス)で打ち消してください*/
  max-width: unset;
}

#sb-part-2239.sb-custom-part-m2e3jsubl2yi0yq8lyo img,
#sb-part-2239.sb-custom-part-m2e3jsubl2yi0yq8lyo video {
  width: 100%;
}
#sb-part-2239.sb-custom-part-m3wcbctkqpwhidhccym .main {
  margin: 0 -20px !important;
  /*-20pxはversion設定の左右余白を変更していない場合のみです、左右余白と同じサイズを-(マイナス)で打ち消してください*/
  max-width: unset;
}

#sb-part-2239.sb-custom-part-m3wcbctkqpwhidhccym img,
#sb-part-2239.sb-custom-part-m3wcbctkqpwhidhccym video {
  width: 100%;
}
#sb-part-2239.sb-custom-part-m4wbo3i13c7wj29nlmw .main {
  margin: 0 -20px !important;
  /*-20pxはversion設定の左右余白を変更していない場合のみです、左右余白と同じサイズを-(マイナス)で打ち消してください*/
  max-width: unset;
}

#sb-part-2239.sb-custom-part-m4wbo3i13c7wj29nlmw img,
#sb-part-2239.sb-custom-part-m4wbo3i13c7wj29nlmw video {
  width: 100%;
}
#sb-part-573.sb-custom-part-m4c3a4dkvolpsc7t94 .small {
  /*文字サイズ*/
  font-size: .8em;
  /*水平方向文字の位置。右寄せはright、真ん中はcenter、左寄せはleft*/
  text-align: right;
  /*行間調整*/
  line-height: 1;
  /*下側の余白*/
  margin-bottom: 0;
}
#sb-part-1879.sb-custom-part-m2ei0lq4264hzteipxe span.wavy {
  /* 下線を引く指定*/
  text-decoration: underline;
  /* 線の種類。波線の指定*/
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  /* 線の色をカラーコードで変更できます*/
  -webkit-text-decoration-color: #b882df;
  text-decoration-color: #b882df;
  /*線の太さを変更できます*/
  -webkit-text-decoration-thickness: 3px;
  text-decoration-thickness: 3px;
  /*線と文字との距離を変更できます。例：3px;*/
  -webkit-text-underline-offset: inherit;
  text-underline-offset: inherit;
}
#sb-part-2572.sb-custom-part-m3wtxhd7trk23w7b9b .bound2__btnArea {
  margin-top: 30px;
}

#sb-part-2572.sb-custom-part-m3wtxhd7trk23w7b9b .bound2__btnArea .boundImg__link {
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#sb-part-2572.sb-custom-part-m3wtxhd7trk23w7b9b .bound2__btnArea .boundImg__link img,
#sb-part-2572.sb-custom-part-m3wtxhd7trk23w7b9b .bound2__btnArea .boundImg__link video {
  width: 100%;
  height: auto;
  animation: bound2Btn 2s ease infinite;
}

@keyframes bound2Btn {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-30px);
  }

  30% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
#sb-part-2572.sb-custom-part-m3wtxuu9b4mavgwjl3t .bound2__btnArea {
  margin-top: 30px;
}

#sb-part-2572.sb-custom-part-m3wtxuu9b4mavgwjl3t .bound2__btnArea .boundImg__link {
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#sb-part-2572.sb-custom-part-m3wtxuu9b4mavgwjl3t .bound2__btnArea .boundImg__link img,
#sb-part-2572.sb-custom-part-m3wtxuu9b4mavgwjl3t .bound2__btnArea .boundImg__link video {
  width: 100%;
  height: auto;
  animation: bound2Btn 2s ease infinite;
}

@keyframes bound2Btn {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-30px);
  }

  30% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
#sb-part-2572.sb-custom-part-m3wty7wxy6711xoniae .bound2__btnArea {
  margin-top: 30px;
}

#sb-part-2572.sb-custom-part-m3wty7wxy6711xoniae .bound2__btnArea .boundImg__link {
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#sb-part-2572.sb-custom-part-m3wty7wxy6711xoniae .bound2__btnArea .boundImg__link img,
#sb-part-2572.sb-custom-part-m3wty7wxy6711xoniae .bound2__btnArea .boundImg__link video {
  width: 100%;
  height: auto;
  animation: bound2Btn 2s ease infinite;
}

@keyframes bound2Btn {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-30px);
  }

  30% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
#sb-part-2239.sb-custom-part-m24jyq5zf9zqoy37095 .main {
  margin: 0 -20px !important;
  /*-20pxはversion設定の左右余白を変更していない場合のみです、左右余白と同じサイズを-(マイナス)で打ち消してください*/
  max-width: unset;
}

#sb-part-2239.sb-custom-part-m24jyq5zf9zqoy37095 img,
#sb-part-2239.sb-custom-part-m24jyq5zf9zqoy37095 video {
  width: 100%;
}
#sb-part-44.sb-custom-part-m24bpyw3k0i6khqirhl

/*動きの速さをかえたいときは、 animationの1s(=1秒)の時間を変更 */
.flash {
  animation: flash 1s ease infinite alternate;
  display: flex;
  /*左寄せは flex-start、真ん中寄せはcenter*/
  justify-content: center;
}

/*設定した時間（初期：1秒）の半分の時に透明になる*/
@keyframes flash {
  50% {
    opacity: 0;
  }
}
#sb-part-45.sb-custom-part-m6kkempxbyyj1b99nc8

/*動きの速さを変更する場合は、複数あるanimation-durationの1.5s(=1.5秒)の時間を変更
動きの回数を変更する場合は、複数あるanimation-iteration-countのinfinite（=無限, #sb-part-45.sb-custom-part-m6kkempxbyyj1b99nc8                        3=3回など）を変更*/
.movebtn {
  -webkit-animation-name: btnAnime02;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: btnAnime02;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@-webkit-keyframes btnAnime02 {

  /*初期位置*/
  0% {
    /*1番目の値はX方向, 2番目の値はY方向*/
    -webkit-transform: translate(0, 0);
  }

  /*animation-durationで設定した値の半分の時間（50%）の時の位置*/
  50% {
    -webkit-transform: translate(0, -8px);
  }

  /*animation-durationで設定した値になった（100%）時の位置*/
  100% {
    -webkit-transform: translate(0, 0);
  }
}

/*上記の「@-webkit-keyframes btnAnime02」と同様の値にしてください*/
@-moz-keyframes btnAnime02 {
  0% {
    -moz-transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(0, -8px);
  }

  100% {
    -moz-transform: translate(0, 0);
  }
}
#sb-part-45.sb-custom-part-m6kkempxbyyj1b99nc8

/*動きの速さを変更する場合は、複数あるanimation-durationの1.5s(=1.5秒)の時間を変更
動きの回数を変更する場合は、複数あるanimation-iteration-countのinfinite（=無限, #sb-part-45.sb-custom-part-m6kkempxbyyj1b99nc8                        3=3回など）を変更*/
.movebtn {
  -webkit-animation-name: btnAnime02;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: btnAnime02;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@-webkit-keyframes btnAnime02 {

  /*初期位置*/
  0% {
    /*1番目の値はX方向, 2番目の値はY方向*/
    -webkit-transform: translate(0, 0);
  }

  /*animation-durationで設定した値の半分の時間（50%）の時の位置*/
  50% {
    -webkit-transform: translate(0, -8px);
  }

  /*animation-durationで設定した値になった（100%）時の位置*/
  100% {
    -webkit-transform: translate(0, 0);
  }
}

/*上記の「@-webkit-keyframes btnAnime02」と同様の値にしてください*/
@-moz-keyframes btnAnime02 {
  0% {
    -moz-transform: translate(0, 0);
  }

  50% {
    -moz-transform: translate(0, -8px);
  }

  100% {
    -moz-transform: translate(0, 0);
  }
}
#sb-part-573.sb-custom-part-m42j1awd3valtz9a .small {
  /*文字サイズ*/
  font-size: .5em;
  /*水平方向文字の位置。右寄せはright、真ん中はcenter、左寄せはleft*/
  text-align: left;
  /*行間調整*/
  line-height: 1.5;
  /*下側の余白*/
  margin-bottom: 1em;
}
